$primary: #2961eb;
$secondary: #9034ea;
$tertiary: #dbeafe;
$quaternary: #f3e8ff;
$hover: #1352f1;

$border-color: #c6d4e7;
$white: #eef2ff;
$white-hover: #e3e8f7;

$primary-gradient: linear-gradient(90deg, #2961eb 0%, #8e35ea 100%);
$hover-gradient: linear-gradient(
  90deg,
  rgba(12, 76, 237, 1) 0%,
  rgba(126, 12, 240, 1) 100%
);
