$primary: #ebc129;
$secondary: #ea8635;
$tertiary: #dbeafe;
$quaternary: #f3e8ff;
$hover: #1352f1;

$border-color: #c6d4e7;
$white: #eef2ff;
$white-hover: #e3e8f7;

$grey: #a3a3a3;
$grey200: #2a2a2a;
$black: #000;

$error-color: #e53935;

$primary-gradient: linear-gradient(90deg, #ebc129 0%, #ea8635 100%);
$hover-gradient: linear-gradient(90deg, #cca721 0%, #cb742d 100%);
