.card {
  position: relative;
  max-width: 360px;
  width: 360px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    height 0.6s cubic-bezier(0.4, 0, 0.2, 1),
    0.3s transform ease;
  &:hover {
    transform: scale(1.02);
    .status {
      height: 30px;
      opacity: 1;
    }
    .statusText {
      opacity: 1;
      transition: opacity 0.3s;
      pointer-events: auto;
    }
  }
}

.status {
  border-radius: 10px 10px 0 0;
  width: 360px;
  height: 10px;
  font-size: 18px;
  position: absolute;
  padding-left: 20px;
  top: 0;
  left: 0;
  .statusText {
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  &.graded {
    background-color: #1b7f4a;
    color: #fff;
  }
  &.submitted {
    background: #ae6006;
    color: #fff;
  }
  &.error {
    background: #5e040d;
    color: #fff;
  }
  .overdue {
    background: #030303;
    color: #fff;
  }
}

.content {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 175px;
}

.text {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
.month {
  background-color: #fff;
}
.lesson {
  background: #f9c507;
}
.homework {
  background-color: #f1a713;
}
.textM {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textL {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
